<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
<form action="login" method="post">
    <table cellpadding="10" cellspacing="0" border="1" width="500" align="center">
        <tr>
            <th colspan="2">用户登录</th>
        </tr>
        <tr>
            <td>用户名</td>
            <td><input type="text" name="username" required="required"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" name="password" required="required"></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" name="login" value="Sign up">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="register">Sign in</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>