<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="register" method="post">
    <table cellpadding="10" cellspacing="0" align="center" border="1" width="450">
        <tr>
            <th colspan="2">Registe your Account</th>
        </tr>

        <tr>
            <td>User Name</td>
            <td><input name="username" type="text" required="required" value="{:isset($username)?$username:$pr=''}"> *</td>
        </tr>

        <tr>
            <td>Password</td>
            <td><input name="password" type="password" required="required"> *</td>
        </tr>

        <tr>
            <td>Confirm</td>
            <td><input name="repassword" type="password" required="required"> *</td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <input type="submit" name="register" value="Sign in">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <a href="login" >Sign up</a>
            </td>
        </tr>
</form>
{:isset($iserror)?$pr='<p align="center" style="color: #EE0000">User name have used by others !</p>':$pr=''; }
</body>
</html>