<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message display</title>
</head>
<body>
{eq name="name" value="tourist"}
<div align="center">Welcome Tourist !&nbsp&nbsp&nbsp&nbsp<a href="{:url('Setting/setting')}">Setting</a>&nbsp&nbsp&nbsp<a href="{:url('Login/loginout')}">LoginOut</a></div>
{else/}
<div align="center">Welcome <a href="{:url('Login/usercenter',array('qname'=>$name))}">{:$name}</a>&nbsp!&nbsp&nbsp&nbsp<a href="{:url('Setting/setting')}">Setting</a>&nbsp&nbsp&nbsp<a href="{:url('Login/loginout')}">LoginOut</a></div>
{/eq}
<table border="1" align="center" width="700" cellpadding="10" cellspacing="0">
    <tr>
        <th>UserName</th>
        <th>Content</th>
        <th>Time</th>
        <th>Option</th>
    </tr>
    {volist name='list' id='infor'}
    <tr>
        <td width="89" align="center">
            <img src="../../../../../../public/uploads/{:$address}" width="65" height="65"/>
            {eq name="$infor.name" value="tourist"}
            {$infor.name}
            {else/}
            <a href="{:url('Login/usercenter',array('qname'=>$infor.name))}">{$infor.name}</a>
            {/eq}
        </td>
        <td width="378">{$infor.content}</td>
        <td width="183" align="center">{$infor.creatAt|date='Y-m-d H:i:s',###}</td>
        <td width="50">
            {eq name="Think.session.users.userId" value="$infor.userId"}
            <a href="{:url('index/Messages/delete',array('messageId'=>$infor.messageId))}">Delete</a>
            &nbsp
            <a href="{:url('index/Messages/changemsg',array('messageId'=>$infor.messageId))}">Edit</a>
            {else/}
                {eq name="Think.session.users.userId" value="3"}
                <a href="{:url('index/Messages/delete',array('messageId'=>$infor.messageId))}">Delete</a>
                {/eq}
            {/eq}
        </td>
    </tr>
    {/volist}
</table>

<form action="{:url('index/Messages/savemsg')}" method="post">
    <table border="1" align="center" width="700" cellpadding="10" cellspacing="0">
        <tr>
            <th colspan="2">Post Message</th>
        </tr>

        <tr>
            <td colspan="2" width="700"><textarea name="words" cols="109" rows="10"></textarea></td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <input type="submit" name="send" value="Post">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="reset"  value="reset">
            </td>
        </tr>
    </table>
</form>
{$list->render()}
</body>
</html>