<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setting</title>
</head>
<body>
<div align="center">Hello {:$name} ! You can change setting here .</div>
<table cellpadding="10" cellspacing="0" border="1" width="500" align="center">
    <tr>
        <th colspan="2">
           Upload Avator IMG
        </th>
    </tr>
    <tr>
        <td align="center">
            <img src="../../../../public/uploads/{:$address}" width="250" height="250"/>
        </td>
        <td align="center">
            <form action="{:url('index/Setting/upload')}" enctype="multipart/form-data" method="post">
                <input type="file" name="users.avator">
                <input type="submit" value="Submit">
            </form>
        </td>
    </tr>
    <tr>
        <th colspan="2">
            Set ListRows of paginate
        </th>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <form action="{:url('index/Setting/setpaginate')}" method="post">
                <input type="number" name="number" value="{:$rows}">
                <input type="submit" value="Submit">
            </form>
        </td>
    </tr>
</table>
<div align="center"><a href="{:url('index/Login/messagelst')}">Home Page</a> </div>
</body>
</html>